''

Installing Pyspark

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark import SparkContext
sc = SparkContext("local", "example_app")

Creating a list

In [ ]:
nums= list(range(0,100001))
len(nums)

100001

In [ ]:
nums_rdd = sc.parallelize(nums)
nums_rdd

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:289

In [ ]:
nums_rdd.collect()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [ ]:
nums_rdd.take(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
square_nums_rdd = nums_rdd.map(lambda x: x**2)
square_nums_rdd

PythonRDD[4] at RDD at PythonRDD.scala:53

In [ ]:
square_nums_rdd.take(5)

[0, 1, 4, 9, 16]

In [ ]:
pairs = square_nums_rdd.map(lambda x : (x,len(str(x))))
pairs.take(5)

[(0, 1), (1, 1), (4, 1), (9, 1), (16, 2)]

In [ ]:
even_digit_pairs = pairs.filter(lambda x: (x[1] % 2) == 0 )
even_digit_pairs.take(5)

[(16, 2), (25, 2), (36, 2), (49, 2), (64, 2)]

In [ ]:
flipped_pairs= even_digit_pairs.map(lambda x: (x[1],x[0]) )
flipped_pairs.take(5)

[(2, 16), (2, 25), (2, 36), (2, 49), (2, 64)]

In [ ]:
grouped  = flipped_pairs.groupByKey()
grouped.take(20)

[(2, <pyspark.resultiterable.ResultIterable at 0x7f5b45d4fd00>),
 (4, <pyspark.resultiterable.ResultIterable at 0x7f5b45c45600>),
 (6, <pyspark.resultiterable.ResultIterable at 0x7f5b45c445e0>),
 (8, <pyspark.resultiterable.ResultIterable at 0x7f5b45c479d0>),
 (10, <pyspark.resultiterable.ResultIterable at 0x7f5b45c44100>)]

In [ ]:
grouped= grouped.map(lambda x:(x[0],list(x[1])))
grouped.take(2)

[(2, [16, 25, 36, 49, 64, 81]),
 (4,
  [1024,
   1089,
   1156,
   1225,
   1296,
   1369,
   1444,
   1521,
   1600,
   1681,
   1764,
   1849,
   1936,
   2025,
   2116,
   2209,
   2304,
   2401,
   2500,
   2601,
   2704,
   2809,
   2916,
   3025,
   3136,
   3249,
   3364,
   3481,
   3600,
   3721,
   3844,
   3969,
   4096,
   4225,
   4356,
   4489,
   4624,
   4761,
   4900,
   5041,
   5184,
   5329,
   5476,
   5625,
   5776,
   5929,
   6084,
   6241,
   6400,
   6561,
   6724,
   6889,
   7056,
   7225,
   7396,
   7569,
   7744,
   7921,
   8100,
   8281,
   8464,
   8649,
   8836,
   9025,
   9216,
   9409,
   9604,
   9801])]

In [ ]:
average = grouped.map(lambda x :(x[0],sum(x[1])/ len(x[1])))
average.collect()

[(2, 45.166666666666664),
 (4, 4675.5),
 (6, 471838.0),
 (8, 47204941.666666664),
 (10, 4720705565.0)]

krishnaiyak

# Loading dataframe , reading file , selecting column , adding new columm

In [ ]:
import pyspark

In [ ]:
import pandas as pd
dfpanda = pd.read_csv("/content/pyspark data.csv")
dfpanda.head()

        Name  Age
0     Ratul     10
1     Rasel     11
2    tahnik     10
3     samin     18
4  mustafiz     10

In [ ]:
dfpanda['Name'].head()

0       Ratul
1       Rasel
2      tahnik
3       samin
4    mustafiz
Name: Name, dtype: object

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('practise').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.csv('/content/pyspark data.csv')

In [ ]:
df_pyspark.show()

+---------+----+
|      _c0| _c1|
+---------+----+
|     Name|Age |
|   Ratul |  10|
|   Rasel |  11|
|  tahnik |  10|
|   samin |  18|
|mustafiz |  10|
|  nawfel |   9|
|  shobuj |   8|
|    alvi |   7|
|   sohel |   6|
|     ovi |   5|
|    labib|   4|
+---------+----+

here we have a c0 and c1 , how can we drop this? only by declaring that the csv file has a header

In [ ]:
spark.read.option('header','True').csv('/content/pyspark data.csv').show()

+---------+----+
|     Name|Age |
+---------+----+
|   Ratul |  10|
|   Rasel |  11|
|  tahnik |  10|
|   samin |  18|
|mustafiz |  10|
|  nawfel |   9|
|  shobuj |   8|
|    alvi |   7|
|   sohel |   6|
|     ovi |   5|
|    labib|   4|
+---------+----+

insted of directly declaring the show() , we can create a new df and tell it to show the df later , like  this

In [ ]:
df_spark = spark.read.option('header','True').csv('/content/pyspark data.csv')

In [ ]:
df_spark.show()

+---------+----+
|     Name|Age |
+---------+----+
|   Ratul |  10|
|   Rasel |  11|
|  tahnik |  10|
|   samin |  18|
|mustafiz |  10|
|  nawfel |   9|
|  shobuj |   8|
|    alvi |   7|
|   sohel |   6|
|     ovi |   5|
|    labib|   4|
+---------+----+

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_spark.head(3)

[Row(Name='Ratul ', Age ='10'),
 Row(Name='Rasel ', Age ='11'),
 Row(Name='tahnik ', Age ='10')]

In [ ]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age : string (nullable = true)

the printschema is more like info of pandas dataframe **bold text**

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [ ]:
spark

In [ ]:
df = spark.read.option('header','True').csv('/content/pyspark data.csv',inferSchema= True)
df.show()

+---------+----+
|     Name|Age |
+---------+----+
|   Ratul |  10|
|   Rasel |  11|
|  tahnik |  10|
|   samin |  18|
|mustafiz |  10|
|  nawfel |   9|
|  shobuj |   8|
|    alvi |   7|
|   sohel |   6|
|     ovi |   5|
|    labib|   4|
+---------+----+

the inferschema show the orginacl datatype in the printschema command

In [ ]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age : integer (nullable = true)

now the same thing can be domne in other way

In [ ]:
df = spark.read.csv('/content/pyspark data.csv',header= True,inferSchema= True)
df.show()

+---------+----+
|     Name|Age |
+---------+----+
|   Ratul |  10|
|   Rasel |  11|
|  tahnik |  10|
|   samin |  18|
|mustafiz |  10|
|  nawfel |   9|
|  shobuj |   8|
|    alvi |   7|
|   sohel |   6|
|     ovi |   5|
|    labib|   4|
+---------+----+

In [ ]:
df.columns

['Name', 'Age ']

To select Specific column

In [ ]:
df.select('Name').show()

+---------+
|     Name|
+---------+
|   Ratul |
|   Rasel |
|  tahnik |
|   samin |
|mustafiz |
|  nawfel |
|  shobuj |
|    alvi |
|   sohel |
|     ovi |
|    labib|
+---------+

to Select multiple column

In [ ]:
df.select(['Name', 'Age ']).show()

+---------+----+
|     Name|Age |
+---------+----+
|   Ratul |  10|
|   Rasel |  11|
|  tahnik |  10|
|   samin |  18|
|mustafiz |  10|
|  nawfel |   9|
|  shobuj |   8|
|    alvi |   7|
|   sohel |   6|
|     ovi |   5|
|    labib|   4|
+---------+----+

Appling Describe

In [ ]:
df.describe().show()

+-------+-------+-----------------+
|summary|   Name|             Age |
+-------+-------+-----------------+
|  count|     11|               11|
|   mean|   NULL|8.909090909090908|
| stddev|   NULL|3.780331875762906|
|    min| Rasel |                4|
|    max|tahnik |               18|
+-------+-------+-----------------+

Adding a new Column

In [ ]:
df = df.withColumn('Age After 2 years',df['Age ']+2)

In [ ]:
df.show()

+---------+----+-----------------+
|     Name|Age |Age After 2 years|
+---------+----+-----------------+
|   Ratul |  10|               12|
|   Rasel |  11|               13|
|  tahnik |  10|               12|
|   samin |  18|               20|
|mustafiz |  10|               12|
|  nawfel |   9|               11|
|  shobuj |   8|               10|
|    alvi |   7|                9|
|   sohel |   6|                8|
|     ovi |   5|                7|
|    labib|   4|                6|
+---------+----+-----------------+

# Dropping,renaming column & rows

Dropping a Current Column

In [ ]:
df = df.drop('Age After 2 years')
df.show()

+---------+----+
|     Name|Age |
+---------+----+
|   Ratul |  10|
|   Rasel |  11|
|  tahnik |  10|
|   samin |  18|
|mustafiz |  10|
|  nawfel |   9|
|  shobuj |   8|
|    alvi |   7|
|   sohel |   6|
|     ovi |   5|
|    labib|   4|
+---------+----+

Renaming Column

In [ ]:
df.withColumnRenamed('Name','New Name').show()

+---------+----+
| New Name|Age |
+---------+----+
|   Ratul |  10|
|   Rasel |  11|
|  tahnik |  10|
|   samin |  18|
|mustafiz |  10|
|  nawfel |   9|
|  shobuj |   8|
|    alvi |   7|
|   sohel |   6|
|     ovi |   5|
|    labib|   4|
+---------+----+

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [ ]:
df = spark.read.csv('/content/pyspark data.csv',header= True, inferSchema= True)
df.show()

+---------+----+-----------+-------+
|     Name|Age |Esperience |Salary |
+---------+----+-----------+-------+
|   Ratul |  10|          1|    100|
|   Rasel |  11|          2|    200|
|  tahnik |  10|          3|    500|
|   samin |  18|          4|    399|
|mustafiz |  10|          5|    400|
|  nawfel |   9|          6|    200|
|  shobuj |   8|          7|    900|
|    alvi |   7|          8|    100|
|   sohel |   6|          9|     10|
|     ovi |   5|         10|     10|
|    labib|   4|         11|     30|
+---------+----+-----------+-------+

In [ ]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age : integer (nullable = true)
 |-- Esperience : integer (nullable = true)
 |-- Salary : integer (nullable = true)

In [ ]:
df.na.drop().show

+---------+----+-----------+-------+
|     Name|Age |Esperience |Salary |
+---------+----+-----------+-------+
|   Ratul |  10|          1|    100|
|   Rasel |  11|          2|    200|
|  tahnik |  10|          3|    500|
|   samin |  18|          4|    399|
|mustafiz |  10|          5|    400|
|  nawfel |   9|          6|    200|
|  shobuj |   8|          7|    900|
|    alvi |   7|          8|    100|
|   sohel |   6|          9|     10|
|     ovi |   5|         10|     10|
|    labib|   4|         11|     30|
+---------+----+-----------+-------+

how = 'any" drop if there any any null values on the row

In [ ]:
df.na.drop(how = 'any').show()

+---------+----+-----------+-------+
|     Name|Age |Esperience |Salary |
+---------+----+-----------+-------+
|   Ratul |  10|          1|    100|
|   Rasel |  11|          2|    200|
|  tahnik |  10|          3|    500|
|   samin |  18|          4|    399|
|mustafiz |  10|          5|    400|
|  nawfel |   9|          6|    200|
|  shobuj |   8|          7|    900|
|    alvi |   7|          8|    100|
|   sohel |   6|          9|     10|
|     ovi |   5|         10|     10|
|    labib|   4|         11|     30|
+---------+----+-----------+-------+

drops rows , if all the value of the row is null

In [ ]:
df.na.drop(how = 'all').show()

if there is  less than two non null values then the row will be deleted , because of thresh = 2

In [ ]:
df.na.drop(how = 'all',thresh =2).show()

+---------+----+-----------+-------+
|     Name|Age |Esperience |Salary |
+---------+----+-----------+-------+
|   Ratul |  10|          1|    100|
|   Rasel |  11|          2|    200|
|  tahnik |  10|          3|    500|
|   samin |  18|          4|    399|
|mustafiz |  10|          5|    400|
|  nawfel |   9|          6|    200|
|  shobuj |   8|          7|    900|
|    alvi |   7|          8|    100|
|   sohel |   6|          9|     10|
|     ovi |   5|         10|     10|
|    labib|   4|         11|     30|
+---------+----+-----------+-------+

by creating subset , we can drop null values of only those column

In [ ]:
df.na.drop(how = 'all',subset= ['Salary ']).show()

+---------+----+-----------+-------+
|     Name|Age |Esperience |Salary |
+---------+----+-----------+-------+
|   Ratul |  10|          1|    100|
|   Rasel |  11|          2|    200|
|  tahnik |  10|          3|    500|
|   samin |  18|          4|    399|
|mustafiz |  10|          5|    400|
|  nawfel |   9|          6|    200|
|  shobuj |   8|          7|    900|
|    alvi |   7|          8|    100|
|   sohel |   6|          9|     10|
|     ovi |   5|         10|     10|
|    labib|   4|         11|     30|
+---------+----+-----------+-------+

replacing null values with other values

In [ ]:
df.na.fill('Missing values').show()

+---------+----+-----------+-------+
|     Name|Age |Esperience |Salary |
+---------+----+-----------+-------+
|   Ratul |  10|          1|    100|
|   Rasel |  11|          2|    200|
|  tahnik |  10|          3|    500|
|   samin |  18|          4|    399|
|mustafiz |  10|          5|    400|
|  nawfel |   9|          6|    200|
|  shobuj |   8|          7|    900|
|    alvi |   7|          8|    100|
|   sohel |   6|          9|     10|
|     ovi |   5|         10|     10|
|    labib|   4|         11|     30|
+---------+----+-----------+-------+

it replace the missing value of only 'Name' Column

In [ ]:
df.na.fill('Missing values',['Name']).show()

+---------+----+-----------+-------+
|     Name|Age |Esperience |Salary |
+---------+----+-----------+-------+
|   Ratul |  10|          1|    100|
|   Rasel |  11|          2|    200|
|  tahnik |  10|          3|    500|
|   samin |  18|          4|    399|
|mustafiz |  10|          5|    400|
|  nawfel |   9|          6|    200|
|  shobuj |   8|          7|    900|
|    alvi |   7|          8|    100|
|   sohel |   6|          9|     10|
|     ovi |   5|         10|     10|
|    labib|   4|         11|     30|
+---------+----+-----------+-------+

In [ ]:
df.drop('Name').show()

+----+-----------+-------+
|Age |Esperience |Salary |
+----+-----------+-------+
|  10|          1|    100|
|  11|          2|    200|
|  10|          3|    500|
|  18|          4|    399|
|  10|          5|    400|
|   9|          6|    200|
|   8|          7|    900|
|   7|          8|    100|
|   6|          9|     10|
|   5|         10|     10|
|   4|         11|     30|
+----+-----------+-------+

# filter operation in pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
df = spark.read.csv('/content/pyspark data_filter.csv',header= True,inferSchema= True)

In [ ]:
df.show()

+---------+----+-----------+-------+
|     Name|Age |Esperience |Salary |
+---------+----+-----------+-------+
|   Ratul |  10|          1|    100|
|   Rasel |  11|          2|    200|
|  tahnik |  10|          3|    500|
|   samin |  18|          4|    399|
|mustafiz |  10|          5|    400|
|  nawfel |   9|          6|    200|
|  shobuj |   8|          7|    900|
|    alvi |   7|          8|    100|
|   sohel |   6|          9|     10|
|     ovi |   5|         10|     10|
|    labib|   4|         11|     30|
+---------+----+-----------+-------+

In [ ]:
df.columns

['Name', 'Age ', 'Esperience ', 'Salary ']

In [ ]:
df = df.withColumnRenamed('Age ', 'Age') \
       .withColumnRenamed('Esperience ', 'Experience') \
       .withColumnRenamed('Salary ', 'Salary')

filtering people whose salary is greater than 100

In [ ]:
df.filter("Salary  > 100").show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|   Rasel | 11|         2|   200|
|  tahnik | 10|         3|   500|
|   samin | 18|         4|   399|
|mustafiz | 10|         5|   400|
|  nawfel |  9|         6|   200|
|  shobuj |  8|         7|   900|
+---------+---+----------+------+

filtering with salary but seeiong only name and age column

In [ ]:
df.filter("Salary  > 100").select(['Name','Age']).show()

+---------+---+
|     Name|Age|
+---------+---+
|   Rasel | 11|
|  tahnik | 10|
|   samin | 18|
|mustafiz | 10|
|  nawfel |  9|
|  shobuj |  8|
+---------+---+

the filter can also be applied in this way

In [ ]:
df.filter(df['Salary']>= 100).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|   Ratul | 10|         1|   100|
|   Rasel | 11|         2|   200|
|  tahnik | 10|         3|   500|
|   samin | 18|         4|   399|
|mustafiz | 10|         5|   400|
|  nawfel |  9|         6|   200|
|  shobuj |  8|         7|   900|
|    alvi |  7|         8|   100|
+---------+---+----------+------+

filtering with multiple condition **and**

In [ ]:
df.filter((df['Salary']> 100) & (df['Age'] > 9)).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|   Rasel | 11|         2|   200|
|  tahnik | 10|         3|   500|
|   samin | 18|         4|   399|
|mustafiz | 10|         5|   400|
+---------+---+----------+------+

filtering with multiple condition **or**

In [ ]:
df.filter((df['Salary']> 100) | (df['Age'] > 10)).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|   Rasel | 11|         2|   200|
|  tahnik | 10|         3|   500|
|   samin | 18|         4|   399|
|mustafiz | 10|         5|   400|
|  nawfel |  9|         6|   200|
|  shobuj |  8|         7|   900|
+---------+---+----------+------+

inverse

In [ ]:
df.filter(~(df['Salary']>= 100)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|sohel |  6|         9|    10|
|  ovi |  5|        10|    10|
| labib|  4|        11|    30|
+------+---+----------+------+

# Group by and aggrigate

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=d9129649d55130df7980f1cc41e86e8cdc661c2b0264a98e9e91928dd4a9623f
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
df = spark.read.csv("/content/pyspark data.csv",header = True, inferSchema = True)

In [ ]:
df.show()

+---------+-----------+-----------+-------+
|     Name|Department |Esperience |Salary |
+---------+-----------+-----------+-------+
|   Ratul |        MIS|          1|    100|
|   Rasel |        MIS|          2|    200|
|  tahnik |        MIS|          3|    500|
|   samin |        MIS|          4|    399|
|mustafiz |        AIS|          5|    400|
|  nawfel |        AIS|          6|    200|
|  shobuj |        AIS|          7|    900|
|    alvi |        AIS|          8|    100|
|   sohel |        FIN|          9|     10|
|     ovi |        FIN|         10|    800|
|    labib|        FIN|         11|     30|
+---------+-----------+-----------+-------+

In [ ]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department : string (nullable = true)
 |-- Esperience : integer (nullable = true)
 |-- Salary : integer (nullable = true)

Group by

In [ ]:
df.groupBy('Name').sum().show()

+---------+----------------+------------+
|     Name|sum(Esperience )|sum(Salary )|
+---------+----------------+------------+
|  tahnik |               3|         500|
|  nawfel |               6|         200|
|    alvi |               8|         100|
|     ovi |              10|         800|
|   sohel |               9|          10|
|  shobuj |               7|         900|
|   Ratul |               1|         100|
|    labib|              11|          30|
|   Rasel |               2|         200|
|mustafiz |               5|         400|
|   samin |               4|         399|
+---------+----------------+------------+

In [ ]:
df.groupBy('Name').max().show()

+---------+----------------+------------+
|     Name|max(Esperience )|max(Salary )|
+---------+----------------+------------+
|  tahnik |               3|         500|
|  nawfel |               6|         200|
|    alvi |               8|         100|
|     ovi |              10|         800|
|   sohel |               9|          10|
|  shobuj |               7|         900|
|   Ratul |               1|         100|
|    labib|              11|          30|
|   Rasel |               2|         200|
|mustafiz |               5|         400|
|   samin |               4|         399|
+---------+----------------+------------+

In [ ]:
df.groupBy('Name').avg().show()

+---------+----------------+------------+
|     Name|avg(Esperience )|avg(Salary )|
+---------+----------------+------------+
|  tahnik |             3.0|       500.0|
|  nawfel |             6.0|       200.0|
|    alvi |             8.0|       100.0|
|     ovi |            10.0|       800.0|
|   sohel |             9.0|        10.0|
|  shobuj |             7.0|       900.0|
|   Ratul |             1.0|       100.0|
|    labib|            11.0|        30.0|
|   Rasel |             2.0|       200.0|
|mustafiz |             5.0|       400.0|
|   samin |             4.0|       399.0|
+---------+----------------+------------+

group by based on department and finding the sum

In [ ]:
df.groupBy('Department ').sum().show()

+-----------+----------------+------------+
|Department |sum(Esperience )|sum(Salary )|
+-----------+----------------+------------+
|        MIS|              10|        1199|
|        FIN|              30|         840|
|        AIS|              26|        1600|
+-----------+----------------+------------+

group by based on department and finding the sum

In [ ]:
df.groupBy('Department ').mean().show()

+-----------+----------------+------------+
|Department |avg(Esperience )|avg(Salary )|
+-----------+----------------+------------+
|        MIS|             2.5|      299.75|
|        FIN|            10.0|       280.0|
|        AIS|             6.5|       400.0|
+-----------+----------------+------------+

Finding the number of employee of each department

In [ ]:
df.groupBy('Department ').count().show()

+-----------+-----+
|Department |count|
+-----------+-----+
|        MIS|    4|
|        FIN|    3|
|        AIS|    4|
+-----------+-----+

aggrigate of salary

In [ ]:
df.agg({'Salary ': 'sum'}).show()

+------------+
|sum(Salary )|
+------------+
|        3639|
+------------+

# NPysmark and ml LR

In [2]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=1a2aee8053c2ab5368fa66bf8e0529a9ce1f652d7c3cbbd5255007b090d138aa
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [5]:
df= spark.read.csv('/content/pyspark data_filter.csv',header= True,inferSchema=True)

In [6]:
df.show()

+---------+----+-----------+-------+
|     Name|Age |Esperience |Salary |
+---------+----+-----------+-------+
|   Ratul |  10|          1|    100|
|   Rasel |  11|          2|    200|
|  tahnik |  10|          3|    500|
|   samin |  18|          4|    399|
|mustafiz |  10|          5|    400|
|  nawfel |   9|          6|    200|
|  shobuj |   8|          7|    900|
|    alvi |   7|          8|    100|
|   sohel |   6|          9|     10|
|     ovi |   5|         10|     10|
|    labib|   4|         11|     30|
+---------+----+-----------+-------+

In [7]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age : integer (nullable = true)
 |-- Esperience : integer (nullable = true)
 |-- Salary : integer (nullable = true)