In [ ]:
print("I am gonna be a Pythonist.")

I am gonna be a Pythonist.

# Day 1 (datatype and others)

**Day1**

In [ ]:
print('My Name is Ratul and this is my first line on python')

My Name is Ratul and this is my first line on python

In [ ]:
print("My name is ratul, it's 1st january of 2024 and i am still an intern at rokomari")

My name is ratul, it's 1st january of 2024 and i am still an intern at rokomari

In [ ]:
a = 3+4
a

7

In [ ]:
a = 3+4
print(a)

7

In [ ]:
a = 5
a

5

In [ ]:
b= 5.4
b
type(b)

float

In [ ]:
c = a+b
print(c)

12.4

In [ ]:
type(c)

float

In [ ]:
type(a)

int

In [ ]:
type(c)

float

In [ ]:
d = 'Hello World'

In [ ]:
type(d)

str

In [ ]:
d = True
type(d)

bool

In [ ]:
a=input()
b= input()
print('The value of a  is:',a,type(a))
print('The value of b is:',b,type(a))

6
6
The value of a  is: 6 <class 'str'>
The value of b is: 6 <class 'str'>

In [ ]:
c= a * b
c

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
a=int(input())
b= int(input())
print('The value of a  is:',a,type(a))
print('The value of b is:',b,type(a))

5
5
The value of a  is: 5 <class 'int'>
The value of b is: 5 <class 'int'>

In [ ]:
c= a * b
c

25

In [ ]:
# type casting
a = '5'
b = '7'
sum = a+b
sum

'57'

In [ ]:
sum = int(a)+ int(b)
sum

12

In [ ]:
a,b = input().split()
print('The Value of a and b are:',a,'and',b)

5 6
The Value of a and b are: 5 and 6

In [ ]:
type(a)

str

In [ ]:
a =int(a)
b= int(b)
c = a+b
c

11

In [ ]:
name = input("Insert Your Name:")
print("Hello",name)

Insert Your Name:Ratul
Hello Ratul

In [ ]:
age = input("Insert Your Age")
print("Hello",name,"Your Age is",age)

Insert Your Age23
Hello Ratul Your Age is 23

In [ ]:
y = list(name)
print(y)

['R', 'a', 't', 'u', 'l']

In [ ]:
number = 3.1416
formattedNumber = format(number, '.2f')
print(formattedNumber)

3.14

In [ ]:
x =1
y = 2
print('Before swap x:',x)
print('After Swap y:',y)
temp = x
x = y
y = temp
print ('After Swap x:',x)
print('After Saap y',y)

Before swap x: 1
After Swap y: 2
After Swap x: 2
After Saap y 1

In [ ]:
x = 5
y = 6
print('Before Swap')
print ("x",x)
print("y",y)
x,y = y,x
print("after Swap ")
print("x",x)
print("y",y)

Before Swap
x 5
y 6
after Swap
x 6
y 5

In [ ]:
formatted_string = "name: {},age:{}".format(name,age)
print(formatted_string)

name: Ratul,age:23

In [ ]:
name ="Ratul"
age = 24
formatted_string = "name: {},age:{}".format(name,age)
print(formatted_string)

name: Ratul,age:24

In [ ]:
text = "Hello,Worlrd!"
length = len(text)
print("String Length",length)
#To replace any element of a string
new_text = text.replace("Hello","Hi")
print('New_string',new_text)
# to cut the elemets of String
stripped_text = text.strip("!")
print(stripped_text)
#to split the element of string
split_word= text.split(",")
print(split_word)

String Length 13
New_string Hi,Worlrd!
Hello,Worlrd
['Hello', 'Worlrd!']

# Day 2 (Opertor, String)

Boolean

In [ ]:
print(2 == 2)
print(2 == 3)
print(2 >= 3)
print(2 <= 3)

True
False
False
True

Assign Operator

In [ ]:
a = 5
print(a)
a +=2
print(a)

5
7

In [ ]:
print(2 ==2 and 3==3)
print(2==2 and 3==2)
print(2 == 2 or 3 == 4)
print(2 == 3 or 3 == 4)

True
False
True
False

Membership Operator

In [ ]:
a = 'bangladesh'
b = 'desh'
b in a

True

In [ ]:
a in b

False

In [ ]:
a = 'bangladesh'
b = 'in'
b in a

False

In [ ]:
a = 1
b = 1
b is a

True

In [ ]:
a = 6000
b = 6000
b is a

False

In [ ]:
print("I like the # symbole.")

I like the # symbole.

In [ ]:
"""
... a is an int variable.
... This is another comment.
... """

'\na is an int variable.\nThis is another comment.\n'

*স্ট্রিং ম্যানিপুলেশন

In [ ]:
a = 'Ratul'
type(a)

str

In [ ]:
c = "Bangladesh is my 'motherland', I love her very much."
c

"Bangladesh is my 'motherland', I love her very much."

স্ট্রিংয়ে ভ্যালু access

In [ ]:
c[0]

'B'

In [ ]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

R
a
t
u
l

In [ ]:
a[1:5]

'atul'

In [ ]:
a[0:]

'Ratul'

In [ ]:
a[1:]

'atul'

In [ ]:
a[4:5]

'l'

In [ ]:
a[2:5]*2

'tultul'

In [ ]:
number = 436.15757823658945
number

436.1575782365895

In [ ]:
print('%.2f' % number)

436.16

In [ ]:
print('%.3f' % number)

436.158

%s সিম্বলটা ব্যবহার করেছি, এটা হল স্ট্রিং ফরম্যাট সিম্বল। ইন্টিজারের জন্য %d, ফ্লোটের জন্য %f এরকম আলাদা আলাদা ফরম্যাট সিম্বল রয়েছে

In [ ]:
a = input()
b = input()
print("My Favourite languages are :",a,"and",b)

Bangla
English
My Favourite languages are : Bangla and English

In [ ]:
a = input()
b= input()
print('My favorite lange are: %s and %s'%(a,b))

Bangla
English
My favorite lange are: Bangla and English

স্ট্রিং জোড়াতালি

In [ ]:
c = a + b
c

'BanglaEnglish'

In [ ]:
c = a + '-' + b
c

'Bangla-English'

In [ ]:
c = '-'.join((a,b))
c

'Bangla-English'

In [ ]:
c.capitalize()

'Bangla-english'

In [ ]:
c.upper()

'BANGLA-ENGLISH'

In [ ]:
c.lower()

"bangladesh is my 'motherland', i love her very much."

In [ ]:
c.title()

"Bangladesh Is My 'Motherland', I Love Her Very Much."

In [ ]:
c.swapcase()

"bANGLADESH IS MY 'MOTHERLAND', i LOVE HER VERY MUCH."

In [ ]:
len(c[:5])
print(c[:5])

Bangl

In [ ]:
c.count('a')

3

In [ ]:
sentence = 'How can a clam cram in a clean cream can?'
sentence.count('c')

6

In [ ]:
sentence.count('c',4)

6

In [ ]:
sentence.count('c',5)

5

In [ ]:
sentence.find('c',5)

10

In [ ]:
sentence.find('x')

-1

In [ ]:
sentence .replace('c','d')

'How dan a dlam dram in a dlean dream dan?'

In [ ]:
sentence.strip('?')

'How can a clam cram in a clean cream can'

In [ ]:
sentence.strip('?').lower().split(' ')

['how', 'can', 'a', 'clam', 'cram', 'in', 'a', 'clean', 'cream', 'can']

In [ ]:
a = 'hARRY!!!!'

In [ ]:
print(a.rstrip("!"))

hARRY

# Day 3 (list )

List

In [ ]:
l = [3,5,6]
print(l)
print(l[0])
print(l[1])
print(l[2])

[3, 5, 6]
3
5
6

In [ ]:
l.append(8)
print(l)
print(len(l))

[3, 5, 6, 4, 4, 5, 8]
7

In [ ]:
l[1:3:5]

[5]

In [ ]:
# Accessing The third value of the list (Positive Index)
print(l[2])
# Accessing The third value of the list (Negative Index)
print(l[-3])
print(l[len(l)-3])
print(l[6-3])

6
5
5
4

In [ ]:
a = int(input())
if a in l:
  print('Yes , The value',a, 'is in l')
else:
  print('No , The value',a, 'is not in l')

6
Yes , The value 6 is in l

In [ ]:
A = [',']
A

[',']

In [ ]:
A = ['APPLE','TEA','iCEcREAM','HUMAN','mONKEY']
A

['APPLE', 'TEA', 'iCEcREAM', 'HUMAN', 'mONKEY']

In [ ]:
print(type(A))

<class 'list'>

In [ ]:
A.append(3)
A
A.append(3.1416)
A

['APPLE', 'TEA', 'iCEcREAM', 'HUMAN', 'mONKEY', 3, 3, 3.1416]

In [ ]:
print(A[3])

HUMAN

In [ ]:
print(A[3:5])

['HUMAN', 'mONKEY']

আপডেট লিস্ট

In [ ]:
A[3]=570
A

['APPLE', 'TEA', 'iCEcREAM', 570, 'mONKEY', 3, 3, 3.1416]

In [ ]:
A.insert(0,'First')
A

['First', 'APPLE', 'TEA', 'iCEcREAM', 570, 'mONKEY', 3, 3, 3.1416]

In [ ]:
A.extend([1,2,3])
A

['First', 'APPLE', 'TEA', 'iCEcREAM', 570, 'mONKEY', 3, 3, 3.1416, 1, 2, 3]

In [ ]:
a= A[0:4]
a

['First', 'APPLE', 'TEA', 'iCEcREAM']

In [ ]:
b=A[4:]
b

[570, 'mONKEY', 3, 3, 3.1416, 1, 2, 3]

In [ ]:
c= b +['Tom','Jerry']
c

[570, 'mONKEY', 3, 3, 3.1416, 1, 2, 3, 'Tom', 'Jerry']

In [ ]:
d = a+b
d

['First', 'APPLE', 'TEA', 'iCEcREAM', 570, 'mONKEY', 3, 3, 3.1416, 1, 2, 3]

In [ ]:
d = d+c
d

রিমুভ আইটেম

In [ ]:
del d[0]
d

['APPLE',
 'TEA',
 'iCEcREAM',
 570,
 'mONKEY',
 3,
 3,
 3.1416,
 1,
 2,
 3,
 570,
 'mONKEY',
 3,
 3,
 3.1416,
 1,
 2,
 3,
 'Tom',
 'Jerry']

In [ ]:
d.remove('APPLE')
d

['TEA',
 'iCEcREAM',
 570,
 'mONKEY',
 3,
 3,
 3.1416,
 1,
 2,
 3,
 570,
 'mONKEY',
 3,
 3,
 3.1416,
 1,
 2,
 3,
 'Tom',
 'Jerry']

In [ ]:
del d[-1]
d

['TEA',
 'iCEcREAM',
 570,
 'mONKEY',
 3,
 3,
 3.1416,
 1,
 2,
 3,
 570,
 'mONKEY',
 3,
 3,
 3.1416,
 1,
 2,
 3,
 'Tom']

deleting last item

In [ ]:
d.pop()

'Tom'

In [ ]:
d

['TEA',
 'iCEcREAM',
 570,
 'mONKEY',
 3,
 3,
 3.1416,
 1,
 2,
 3,
 570,
 'mONKEY',
 3,
 3,
 3.1416,
 1,
 2,
 3]

count

In [ ]:
len(d)

18

In [ ]:
d.count(3)

6

In [ ]:
d.reverse()
d

[3,
 2,
 1,
 3.1416,
 3,
 3,
 'mONKEY',
 570,
 3,
 2,
 1,
 3.1416,
 3,
 3,
 'mONKEY',
 570,
 'iCEcREAM',
 'TEA']

In [ ]:
d.sort()
d

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
b = [1,2,3,4,5,6,7,8,1,2,3,4,1,23,1]
b

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 1, 23, 1]

In [ ]:
b.sort()
b

[1, 1, 1, 1, 2, 2, 3, 3, 4, 4, 5, 6, 7, 8, 23]

টাপল

In [ ]:
a = ()
type(a)

tuple

In [ ]:
a = ('onion', 'potato', 'ginger', 'cucumber')
print(a)
print(type(a))

('onion', 'potato', 'ginger', 'cucumber')
<class 'tuple'>

In [ ]:
a[0:]

('onion', 'potato', 'ginger', 'cucumber')

In [ ]:
a[0] = 'new'

TypeError: 'tuple' object does not support item assignment

In [ ]:
a + ('new',)
a

('onion', 'potato', 'ginger', 'cucumber')

In [ ]:
len(a)

4

In [ ]:
a.count('onion')

1

# Day 4 (set)

Set

In [ ]:
a  = {'A','B','C'}
a

{'A', 'B', 'C'}

In [ ]:
a = set()
type(a)

set

In [ ]:
type (a)

set

In [ ]:
A = set('orange', 'banana', 'pear', 'apple')
A

TypeError: set expected at most 1 argument, got 4

In [ ]:
a = set('ABC')
a

{'A', 'B', 'C'}

In [ ]:
a.add('D')
a

{'A', 'B', 'C', 'D'}

In [ ]:
a.update('E','F','G')
a

{'A', 'B', 'C', 'D', 'E', 'F', 'G'}

In [ ]:
a.remove('G')
a

{'A', 'B', 'C', 'D', 'E', 'F'}

In [ ]:
a.pop()

'C'

In [ ]:
A = {1, 2, 3, 4, 5}

In [ ]:
B = {6, 7, 8}

In [ ]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A.difference(B)

{1, 2, 3, 4, 5}

ডিকশনারি

# Day 5 Dictionary and condition

In [ ]:
a = { }
type(a)

dict

In [ ]:
a = {'name' : 'MD. Maksudur Rahman Khan', 'nickname' : 'Maateen', 'email' : 'maateen@outlook.com', 'phone' : '01711223344'}
a

{'name': 'MD. Maksudur Rahman Khan',
 'nickname': 'Maateen',
 'email': 'maateen@outlook.com',
 'phone': '01711223344'}

Accessing an item

In [ ]:
a ['name']

'MD. Maksudur Rahman Khan'

Updating Item

In [ ]:
a['name']= 'Esrak Fardin'
a

{'name': 'Esrak Fardin',
 'nickname': 'Ratul',
 'email': 'maateen@outlook.com',
 'phone': '01711223344',
 'hometown': 'Barisal',
 'fav_poet': 'Nazrul'}

In [ ]:
a['nickname']= 'Ratul'
a

{'name': 'Esrak Fardin',
 'nickname': 'Ratul',
 'email': 'maateen@outlook.com',
 'phone': '01711223344'}

Adding New Set of elements into an existing list

In [ ]:
a['hometown'] = 'Manikganj'

In [ ]:
a

{'name': 'Esrak Fardin',
 'nickname': 'Ratul',
 'email': 'maateen@outlook.com',
 'phone': '01711223344',
 'hometown': 'Manikganj',
 'fav_poet': 'Nazrul'}

In [ ]:
a ['hometown']

'Manikganj'

Adding a whole new disct into an existing disct

In [ ]:
b = {'hobby' : 'Gardening', 'fav_poet' : 'Nazrul'}

In [ ]:
a.update(b)
a

{'name': 'MD. Maksudur Rahman Khan',
 'nickname': 'Maateen',
 'email': 'maateen@outlook.com',
 'phone': '01711223344',
 'hobby': 'Gardening',
 'fav_poet': 'Nazrul'}

In [ ]:
a ['hometown']

'Manikganj'

In [ ]:
a = dict()
type (a)

dict

In [ ]:
del a['name']
a

{'nickname': 'Maateen',
 'email': 'maateen@outlook.com',
 'phone': '01711223344',
 'hobby': 'Gardening',
 'fav_poet': 'Nazrul'}

In [ ]:
a.clear()

In [ ]:
a.copy()
a

{'name': 'MD. Maksudur Rahman Khan',
 'nickname': 'Maateen',
 'email': 'maateen@outlook.com',
 'phone': '01711223344'}

In [ ]:
a.get('name')

'MD. Maksudur Rahman Khan'

In [ ]:
a.get('Ratul')

In [ ]:
a.get('Ratul','Pagol')

'Pagol'

In [ ]:
'name' in a

True

In [ ]:
'frame' in a

False

In [ ]:
a. items()

dict_items([('name', 'MD. Maksudur Rahman Khan'), ('nickname', 'Maateen'), ('email', 'maateen@outlook.com'), ('phone', '01711223344')])

In [ ]:
a.keys()

dict_keys(['name', 'nickname', 'email', 'phone'])

In [ ]:
a.values()

dict_values(['MD. Maksudur Rahman Khan', 'Maateen', 'maateen@outlook.com', '01711223344'])

কন্ডিশনাল লজিক

In [ ]:
a =int(input("Enter the value of a :"))
if a < 10 :
  print ('a is less than 10')
elif a > 10:
  print('a greater than 10 ')
else:
  print('A equal to 10')

Enter the value of a :9
a is less than 10

nested if

In [ ]:
a = int(input("Enter The value of a: "))
if a > 10:
  if (a %2 )== 0:
    print("The value is greater than 10,and can be divided by 2")
  else:
    print("The value is greater than 10 but can't be divided by 2")
if a < 10:
  if (a % 3)== 0:
    print("The value is less than 10 , and can be divided by 3")
  else:
    print("The value is less than 10 but can't be divided by 3")

Enter The value of a: 17
The value is greater than 10 but can't be divided by 2

In [ ]:
a = 1
if a :
     print(True)
else:
  print(False)

True

In [ ]:
a = 0
if a :
   print(True)
else:
  print(False)

False

In [ ]:
a = not None
if a:
   print(True)
else:
  print(False)

True

priblem 1
ইউজার একটা পূর্ণসংখ্যা ইনপুট দেবে। সংখ্যাটি ৩ ও ৫ দ্বারা নিঃশেষে বিভাজ্য হলে আউটপুট হবে Yes আর না হলে আউটপুট হবে No।

In [ ]:
a = int(input("Insert an integer:"))
if (a% 3)== 0 and (a%5)== 0:
  print ('Yes')
else :
  print('No')

Insert an integer:13
No

problem 2 ইউজার একটা সংখ্যা ইনপুট দেবে। সংখ্যাটি ধনাত্মক হলে আউটপুট হবে Positive, ঋণাত্মক হলে আউটপুট হবে Negative আর জিরো হলে আউটপুট Zero হবে।

In [ ]:
a = int(input('Enter a number :'))
if a >0 :
  print('The number is positive ')
elif a < 0 :
  print('The number is negative ')
else:
  print ("The Number is zero")

Enter a number :-10
The number is negative

problem 3 :প্রবলেম-৩ #
ইউজার একটি পূর্ণসংখ্যা ইনপুট দেবে। সংখ্যাটি জোড় হলে আউটপুট হবে Even আর বিজোড় হলে আউটপুট Odd হবে।

In [ ]:
a = int(input("Enter a number :"))
if a == 2:
  print('The number is 2 and even')
elif a == 0:
  print('The number is 0')
else:
  if (a%2)== 0:
    print('The Number in Even ')
  elif(a%2) != 0:
    print('The Number is odd')

Enter a number :12
The Number in Even

প্রবলেম-৪ #
ইউজার একটি ক্যারেক্টার (আলফাবেট) ইনপুট দেবে। ক্যারেক্টারটা ছোট হাতের অক্ষর হলে আউটপুট হবে Lower Case আর বড় হাতের অক্ষর হলে হবে Upper Case। যদি ক্যারেক্টারটা আলফাবেটের মধ্যে না পড়ে, তবে আউটপুট Nothing হবে।

In [ ]:
print('Enter a character ')
a = input()
if a >= 'a' and a <= 'z':
  print('The Chracter is Lowercase')
elif a >= 'A' and a <= 'Z':
  print('The Chracter is Uppercase')
else:
  print('Nothing')

Enter a character
A
The Chracter is Uppercase

প্রবলেম-৫ #
ইউজার একটি ক্যারেক্টার (আলফাবেট) ইনপুট দেবে। ক্যারেক্টারটা ভাওয়েল (Vowel) হলে আউটপুট হবে Vowel আর কনসোনেন্ট (Consonant) হলে হবে Consonant; যদি ক্যারেক্টারটা আলফাবেটের মধ্যে না পড়ে, তবে আউটপুট হবে Nothing.

In [ ]:
a = input('Enter a Vowel: ')
if a >= 'a' and a <= 'z' or a >= 'A' and a<= 'Z':
  if a in 'aeiouAEIOU':
    print('The Number is Vowel')
  else :
    print('The Number is not Vowel')
else:
  print('Nothing')

Enter a Vowel: 1
Nothing

# Day 6 লুপ

In [ ]:
i = 1
while  i<=10:
  print(i)
  i = i +1

1
2
3
4
5
6
7
8
9
10

 ১ থেকে ১০০ পর্যন্ত সংখ্যাগুলোকে যোগ করা

In [ ]:
i = 1
sum = 0
while i <= 100:
  sum = i + sum
  i = i +1
print(sum)

5050

1+2+3+4+ ... +n = n(n+1)/2

In [ ]:
n = 100
temp = n*(n+1)/2
print(temp)

5050.0

for লুপ

In [ ]:
a = ['Ratul', 'Mahir','Siam','Mridul','Rafi','Rahi']
print(type(a))
for item in a:
  print(item)

<class 'list'>
Ratul
Mahir
Siam
Mridul
Rafi
Rahi

In [ ]:
a = {'name' : 'MD. Maksudur Rahman Khan', 'nickname' : 'Maateen', 'email' : 'maateen@outlook.com', 'phone' : '01711223344'}
print(type(a))
for item in a :
  print(item)

<class 'dict'>
name
nickname
email
phone

In [ ]:
a = 'Ratul'
for letter in a :
  print(letter)

R
a
t
u
l

In [ ]:
range(5)

range(0, 5)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
range(5, 21)
list(range(5,21))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
range(5, 23, 2)
list(range(5,23,2))

[5, 7, 9, 11, 13, 15, 17, 19, 21]

In [ ]:
for number in range (1,11):
  number
  print(number )

1
2
3
4
5
6
7
8
9
10

লুপ কন্ট্রোল স্টেটমেন্ট (break)

In [ ]:
for number in range (1,10):
    if number == 5:
     break
    print(number)

1
2
3
4

In [ ]:
for number in range (1,10):
  if number == 5:
    break
  print(number)

1
2
3
4

লুপ কন্ট্রোল স্টেটমেন্ট (continue)

In [ ]:
for number in range (1,10):
  if number == 5:
    continue
  print(number)

1
2
3
4
6
7
8
9

লুপ কন্ট্রোল স্টেটমেন্ট (pass)

In [ ]:
for number in range (1,10):
  if number == 5:
    pass
  print(number)

1
2
3
4
5
6
7
8
9

লুপের সাথে else
While + Else

In [ ]:
n = 0
while n <= 10:
  print(n)
  n = n+1
else:
  print("The Loop is over ")

0
1
2
3
4
5
6
7
8
9
10
The Loop is over

For + Else

In [ ]:
for i in range (1,10):
  print(i)
else:
  print('The loop is over')

1
2
3
4
5
6
7
8
9
The loop is over

প্রবলেম-১ #
ইউজার যেকোনো একটা পূর্ণসংখ্যা ইনপুট দেবে। আর ওই পূর্ণসংখ্যার নামতা আউটপুট হিসেবে দেখাতে হবে।

In [ ]:
number = int(input('Enter an Integer'))
count = 1
sum = 0
while count <= 10:

  sum = number * count
  print( number ,'X',count, '=',sum)
  #print(number, 'x', count, '=', number*count)
  #print(sum)
  count = count+1

Enter an Integer5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
number = int(input('Enter a Number :'))
count = 1
multi = 0
while count <= 10:
  multi = number * count
  print(number,'x',count,'=',multi)
  count = count + 1

Enter a Number :10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

প্রবলেম-২ #
১ থেকে ১০০ পর্যন্ত যেসব সংখ্যা ৩ দ্বারা নিঃশেষে বিভাজ্য কিন্তু ৫ দ্বারা নয়, তাদের লিস্ট আউটপুট হিসেবে দেখাতে হবে।

In [ ]:
a = [ ]
type (a)
for i in range (1,100):
  if i % 3 == 0 and i %5 != 0:
    a.append(i)
print(a)

[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]

In [ ]:
a = [ ]
for i in range (1,101):
  if i % 3== 0 and i % 5!=0:
    a.extend([i])

print(a)

[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]

প্রবলেম-৩ #
ধরা যাক, বিভিন্ন সংখ্যার একটি তালিকা রয়েছে। তালিকাটা নিচের মত -

13, 34, 19, 28, 46, 61, 73, 49, 1, 31, 4, 7, 91, 58, 52, 82, 70, 43, 88, 55, 97, 16, 22, 25, 79, 85, 40, 64, 94, 67, 37

In [ ]:
a = [13, 34, 19, 28, 46, 61, 73, 49, 1, 31, 4, 7, 91, 58, 52, 82, 70, 43, 88, 55, 97, 16, 22, 25, 79, 85, 40, 64, 94, 67, 37]
b = []
for item in a:
  if item < 50:
    b.extend([i])
    i = i+1
print(b)

[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85]

# Day 7 exercise

প্রবলেম-৪ #
নিচের তালিকাটি লক্ষ্য করা যাক -

40, 45, 33, 34, 8, 38, 28, 22, 1, 7, 49, 41, 14, 5, 22, 39, 15, 19, 36, 37, 43, 2, 5, 42, 46, 48, 49, 12, 48, 37, 8, 20, 30, 20, 4, 37, 27, 29, 7, 44, 15, 32, 35, 10, 28, 18, 2, 15, 36, 38

এই তালিকা থেকে সকল ডুপ্লিকেট (duplicate) ভ্যালু রিমুভ করতে হবে।

In [ ]:
a = [40, 45, 33, 34, 8, 38, 28, 22, 1, 7, 49, 41, 14, 5, 22, 39, 15, 19, 36, 37, 43, 2, 5, 42, 46, 48, 49, 12, 48, 37, 8, 20, 30, 20, 4, 37, 27, 29, 7, 44, 15, 32, 35, 10, 28, 18, 2, 15, 36, 38]
b = []

for i in a:
  if i not in b:
    b.append(i)
print(b)

[40, 45, 33, 34, 8, 38, 28, 22, 1, 7, 49, 41, 14, 5, 39, 15, 19, 36, 37, 43, 2, 42, 46, 48, 12, 20, 30, 4, 27, 29, 44, 32, 35, 10, 18]

প্রবলেম-৫ #
ইউজার একটা পূর্ণসংখ্যা ইনপুট দেবে। সেটির ওপর ভিত্তি করে আমরা *এর স্কয়ার ডিজাইন করব। অর্থাৎ ইউজার যদি 5 ইনপুট দেয় তাহলে নিচের মতো একটা স্কয়ার ডিজাইন করব।

In [ ]:
number = int(input())
temp = number
while number > 0:
  count = temp
  while count > 0:
    print('*',end = '')
    count = count -1
  print()
  number = number-1

4
****
****
****
****

In [ ]:
number = int(input())
temp = number
while temp > 0:
  count = number
  while count > 0:
      print('*',end = '')
      count = count -1
  print ()
  temp =temp -1

5
*****
*****
*****
*****
*****

In [ ]:
number = int(input())
temp =  number
while temp > 0:
  count = number
  while count > 0:
    print('*',end = '')
    count = count -1
  print()
  temp = temp -1

6
******
******
******
******
******
******

In [ ]:
a = int(input())
b = a
while b > 0:
  c = a
  while c > 0:
    print('*',end = '')
    c -= 1
  print()
  b -=1

10
**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

প্রবলেম-৬ #
ইউজার একটি শব্দ ইনপুট দেবে। আমাদের প্রোগ্রাম দেখবে সেটি একটি প্যালিনড্রোম (Palindrome) কি না! প্যালিনড্রোম হলো কোনো শব্দ, সংখ্যা বা সিক্যুয়েন্স যাদের ওলটালেও ওই এক জিনিসই থাকে। যেমন : 707 কে ওলটালেও 707 ই থাকে। আবার Madam-কে ওলটালে Madam ই থাকে।

In [ ]:
print ('Enter a number ')
word = input ()

word = word.casefold() # Coverts word into lowercase
reversed_word = word[::-1]
if word == reversed_word:
  print('yes')
else :
  print ('Not')

Enter a number
hello
Not

In [ ]:
a = input()
a = a.lower()
ra = a[::-1]
if a==ra:
  print('True')
else:
  print('False')

maDam
True

প্রবলেম-৭ #
এখন আমরা অনন্ত জলিলের খোঁজ দ্য সার্চ-এর প্রবলেম সলভ করব। ধরা যাক, ছোট থেকে বড় সাজানো বিভিন্ন সংখ্যার একটা তালিকা আছে। তালিকাটা নিচের মতো—

1, 3, 5, 7, 11, 13, 15, 17, 20, 26, 31, 44, 54, 56, 65, 77, 94, 100

In [ ]:
my_list = [1, 3, 5, 7, 11, 13, 15, 17, 20, 26, 31, 44, 54, 56, 65, 77, 94, 100]

print('Input the number:')
number = int(input())

first = 0
last = len(my_list)-1
found = False
cycle = 0

while first <= last and not found:
    midpoint = (first + last)//2
    if my_list[midpoint] == number:
        found =True
    else:
        if number < my_list[midpoint]:
            last = midpoint-1
        else:
            first = midpoint+1
    cycle +=1

print('Found after', cycle, 'cycle.')

Input the number:
20
Found after 1 cycle.

In [ ]:
my_list = [1, 3, 5, 7, 11, 13, 15, 17, 20, 26, 31, 44, 54, 56, 65, 77, 94, 100]
number = int(input())
first = 0
last = len(my_list)-1
cycle = 0
found = False
while first <= last and not found:
  mid = (first+last)//2
  if my_list[mid] == number:
    found = True
  else:
    if number < my_list[mid]:
      last = mid-1
    else:
      first = mid +1
  cycle +=1
print(cycle)

20
1

(১) লুপ ব্যবহার করে ১ থেকে ১০০ পর্যন্ত পূর্ণসংখ্যাগুলোর সমষ্টি বের করতে হবে।

In [ ]:
i = 1
sum = 0
while i <=100:
  sum = sum+i
  i +=1
print(sum)

5050

In [ ]:
a = int(input())
b = a
while b > 0:
  c = a
  while c > 0:
    print('*',end = '')
    c -= 1
  print()
  b -=1

4
****
****
****
****

# Day 8 Comprehension

list Comprehension

In [ ]:
list = [i**2 for i in range (1,20) if i%2 == 0]
list

[4, 16, 36, 64, 100, 144, 196, 256, 324]

Set Comprehension

In [ ]:
a_list = ['Maateen', 'Khan', 'Maksudur', 'a', 'b', 'c']
b = { i for i in a_list if len(i) > 2}
b

{'Khan', 'Maateen', 'Maksudur'}

Text Comprehension

In [ ]:
a_list = ['name', 'country', 'career']
b_list = ['Maateen', 'Bangladesh', 'TeleTalk']
a = { i:j for i ,j in zip(a_list,b_list)}
a

{'name': 'Maateen', 'country': 'Bangladesh', 'career': 'TeleTalk'}

Comprehension two list

In [ ]:
a = [i for i in range (11)]
b = [i for i in range (11,20)]
c = zip(a,b)
c

In [ ]:
list(c)

[(0, 11),
 (1, 12),
 (2, 13),
 (3, 14),
 (4, 15),
 (5, 16),
 (6, 17),
 (7, 18),
 (8, 19)]

# Day 9 Function

In [ ]:
def my_name(name):
  print('The Given Name is:', name)
  return
my_name('ratul')

The Given Name is: ratul

In [ ]:
my_name('ratul')

The Given Name is: ratul

In [ ]:
def print_my_name(name):
  print("My Name is ",name)
  return
print_my_name('Ratul')

My Name is  Ratul

In [ ]:
def print_my_name(myname):
  print('My Name is ',myname)
  return
name = "Ratul"
print_my_name(name)

My Name is  Ratul

In [ ]:
def sum(a,b,c):
  return a+b+c
add = sum(1,2,3)
print(add)

6

Key Word Argument

In [ ]:
def sum(a,b,c):
  sumd = a+b+c
  print('The sum of the values are ',sumd)
  return
sum(b=2,c=3,a=4)

The sum of the values are  9

In [ ]:
def add(a,b,c=2):
   d = a+b+c
   print('The sum o fthese values are:',d)
   return
add(2,3)

The sum o fthese values are: 7

In [ ]:
d = add(2,3,100)
print(d)

105

In [ ]:
def add(*args):
  print(type(args))
  sum = 0
  for i in args:
    sum = sum + i
  return sum
c = add(1,2,3,4,5,6,7)
print (c)

<class 'tuple'>
<class 'tuple'>
28

In [ ]:
def funcarg(*arg):
  #for i in arg:
  print(arg[0])
a =('rat','mat','cat')
funcarg(*a)

rat

In [ ]:
def funcarg(*arg):
  print(type(arg))
  for i in arg:
    print(i)
a =('rat','mat','cat')
funcarg(*a)

<class 'tuple'>
rat
mat
cat

In [ ]:
def funcarg(normal,*arg):
  print(type(normal))
  print(type(arg))
  print(normal)
  for i in arg:
    print(i)
a =('rat','mat','cat')
nor = 'Short Form of Animals are:'
funcarg(nor,*a)

<class 'str'>
<class 'tuple'>
Short Form of Animals are:
rat
mat
cat

In [ ]:
def add(**kwargs):
  tmp = 0
  for key in kwargs:
    tmp = tmp + kwargs[key]
  return tmp
temp = add(a=1, b=2, c=3, d=4)
print(temp)

10

In [ ]:
def funckw(**kwarg):
  sum = 0
  for I in kwarg:
    sum = sum+kwarg[I]
  return sum
temp = {'a':2, 'b':3 ,'c':2}
d = funckw(**temp)
print(d)

7

In [ ]:
def add(**kwargs):
    print(type(kwargs))
    tmp = 0
    for i in kwargs:
        tmp = tmp + kwargs[i]
    return tmp
temp = add(a=1, b=2, c=3, d=4)
print(temp)

<class 'dict'>
10

In [ ]:
def funkrg(*arg,**kwarg):
  print('The Students are:')
  for item in arg:
    print(item)

  print('\nNow i would i to introduce some Roles OF these  stupid')
  for key,value in kwarg.items():
    print(f"{value} is the {key}")
kw = {'Programmer':'Ratul','Cook':'ROny','Singer':'Johny'}
abc = ('Ratul','Rony','Johny')
funkrg(*abc)
funkrg(**kw)

The Students are:
Ratul
Rony
Johny

Now i would i to introduce some Roles OF these  stupid
The Students are:

Now i would i to introduce some Roles OF these  stupid
Ratul is the Programmer
ROny is the Cook
Johny is the Singer

In [ ]:
def funck(**kwarg):
  sum = 0
  for i in kwarg:
    sum = sum+ kwarg[i]
  return sum
d = funck(a=1,b=3,c=4)
print(d)

8

In [ ]:
def funck(**kwarg):
  sum = 0
  for i in kwarg:
    sum = sum+ kwarg[i]
  return sum
d = {'a':1,'b':3,'c':4}
add = funck(**d)
print(add)

8

In [ ]:
def print_address(**kwargs):
  for value in kwargs.values():
    print(value)
print_address(name ="Ratul",
              work= "Stupid",
              occupation = "Timewaste")

Ratul
Stupid
Timewaste

In [ ]:
def print_address(**kwargs):
  for key in kwargs.keys():
    print(key)
print_address(name ="Ratul",
              work= "Stupid",
              occupation = "Timewaste")

name
work
occupation

In [ ]:
def print_address(**kwargs):
  for key,value in kwargs.items():
    print(f"{key} is {value}")
print_address(name ="Ratul",
              work= "Stupidity",
              occupation = "Timewaste")

name is Ratul
work is Stupidity
occupation is Timewaste

রিকার্সন (Recursion)

In [ ]:
def counter(num):
    print(num)
    num += 1
    counter(num)

counter(1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954

RecursionError: maximum recursion depth exceeded while calling a Python object

In [ ]:
number = int(input('Enter a number '))
temp = number

while number > 1:
  number -= 1
  temp = number * temp
if temp == 0:
  p = 1
else :
  p = temp

p

Enter a number 3

6

In [ ]:
def factorial (number):
  if number == 0:
    return 1
  else:
    return number * (number-1)
number = int(input('Enter a number'))
d = factorial(number)
d

Enter a number3

6

In [ ]:
sum = lambda a,b:a+b
b = sum(10,20)
b

30

In [ ]:
d = ((lambda a,b:a*b)(10,5))
d

50

In [ ]:
def my_function(func, arg1, arg2):
    return func(arg1, arg2)

d = (my_function(lambda a, b : a + b, 10, 20))
d

30

# Day 10 (MAP ,FILTER ,EXERCISE OF FUNCTION )

In [ ]:
my_list = [2,3,4,5,6]
def square(x):
  return x*x
new_list = map(square,my_list)
d = list(new_list)
d

[4, 9, 16, 25, 36]

In [ ]:
a = [2,3,4,5,6]
def is_even(x):
  if x % 2 == 0:
    return x
b = filter(is_even,a)
b = set(b)
b

{2, 4, 6}

In [ ]:
a = [2,3,4,5,6]
def is_even(x):
  if x % 2 == 0:
    return True
  else :
    return False
b = filter(is_even,a)
b = set(b)
b

{2, 4, 6}

প্রব্লেম-১ #
ইউজার এক লাইনে তিনটা পূর্ণসংখ্যা ইনপুট দেবে (যেমন: 23 10 96)। সবচেয়ে বড় সংখ্যাটি বের করতে হবে।

In [ ]:
A,B,C = map(int,input().split())
A

2 3 4

2

In [ ]:
a,b,c = map(int,input().split())
if   a > b and a > c:
  bigger = a
elif  b >a and b> c:
  bigger = b
elif c > a and c > b:
  bigger = c
else:
  print ( 'All are euqal ')
bigger

2 2 2
All are euqal

4

In [ ]:
a, b , c = map (int, input ().split() )
print (f"the values are {a} , {b} and {c}")
if a > b and a>c :
  bigger = a
elif b > a and b>c :
  bigger = b
else:
  bigger = c
print (f"the biggest among the three values ar { bigger}")

4 6 4
the values are 4 , 6 and 4
the biggest among the three values ar 6

In [ ]:
def gcd(a, b):
    if b > a:
        gcd(b, a)
    while b != 0:
        temp = a%b
        a = b
        b = temp
    return a

print("Please input two integers:")
a, b = map(int, input().split())
print(gcd(a, b))

Please input two integers:
12 18
6

In [ ]:
def gdc(a,b):
  if b > a:
    gcd (b,a)
  while b!= 0:
    temp = a % b
    a = b
    b = temp
  return a
print ('Please enter two integer numbers:')
a ,b = map(int, input().split())
print(gcd(a,b))

Please enter two integer numbers:
20 10
10

LCD

In [ ]:
দুটি সংখ্যার ল.সা.গু. বের করার একটা চমৎকার সূত্র আছে। দুটি সংখ্যার গুণফলকে ঐ দুটি সংখ্যার গ.সা.গু. দিয়ে ভাগ করলে সংখ্যা দুটির ল.সা.গু. পাওয়া যায়

In [ ]:
def gsd(a,b):
  if b > a:
    gsd(b,a)
  while b!= 0:
    temp = a %b
    a = b
    b = temp
  return a

def lsd (a,b):
  return (a*b) //gcd (a,b)
print ('Enter the two integers: ')
a,b = map(int,input().split())
print (lsd(a,b))

Enter the two integers:
96 13
1248

In [ ]:
def is_prime(n):
    if n <= 1:
        raise ValueError('The number must be greater than 1.')
    elif n <= 3:
        return True
    elif (n % 2) == 0 or (n % 3) == 0:
        return False
    else:
        i = 5
        while (i * i) <= n:
            if (n % i) == 0 or (n % i+2) == 0:
                return False
            i = i + 6
        return True

print('Please input your number:')
number = int(input())

if is_prime(number):
    print(number, 'is a prime number.')
else:
    print(number, 'is a composite number.')

Please input your number:
23
23 is a prime number.

try and except

In [ ]:
try :
  a = []
  print(a[0])
except IndexError as b:
  print (b)

list index out of range

In [ ]:
try:
  a = [1 ,2]
  print(a[0])
except IndexError as e:
  print(e)

1

try … except … else
if no expectation is being raised then only the else run  wiil be used

In [ ]:
try:
  a = [1 ,2]
  print(a[0])
except IndexError as e:
  print(e)
else :
  print("There is No expectation")

1
There is No expectation

In [ ]:
try :
  a = ['1','a']
  print (a[1])
except IndexError as e:
  print(e)
else :
  print('No Expectations Found ')

a
No Expectations Found

**Try … except … finally **

finally ব্লক একেবারে শেষে বসে। আর কোন এক্সেপশন রেইজ হোক আর নাই বা হোক, finally ব্লকের কোড ঠিকই এক্সিকিউট হয়। এজন্য একে ক্লীন-আপ অ্যাকশন বলা হয়। একটা উদাহরণ দেখা যাক।

In [ ]:
try :
  a = ['1','a']
  print (a[1])
except IndexError as e:
  print(e)
finally  :
  print('To be or not to be is the question ')

a
To be or not to be is the question

In [ ]:
try :

  a = ['1','a']
  print (a[2])
except IndexError as e:
  #raise IndexError('Hey! It is a custom error message.')
  print(e)
finally  :
  print('To be or not to be is the question ')

list index out of range
To be or not to be is the question

In [ ]:
try:
  raise NameError("Hey it's a custom error")
except NameError as e:
                  print(e)

Hey it's a custom error

# Day 11
ক্লাস, অবজেক্ট এবং মেথড

In [ ]:
class A:
  def __init__(self):
    age = 10
    print (age)
obj = A()

jbo = A()
print (f"the two object's values are {obj} and {jbo}")

10
10
the two object's values are <__main__.A object at 0x7baf9d7ef010> and <__main__.A object at 0x7baf9d7ef4c0>

In [ ]:
class A:
  def __init__(self,name,age,address):
    print (name, " ",age, " ",address )
obj = A('Ratul' ,10, 'Savar')
obj2 = A('Mahir',5 ,'Savar')

Ratul   10   Savar
Mahir   5   Savar

In [ ]:
class person():
  name = 'RAtul'
  occupation = 'Nothing'
  salary =10000
  def info(self):
    print (f"{self.name}  is a {self.occupation} who earns {self.salary} ")
a = person()
a.name = "Mashrur"
a.info()

Mashrur  is a Nothing who earns 10000